.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  padding: 50px 80px;
  box-sizing: border-box;
}

.containerInputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
}

.containerCards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  box-sizing: border-box;
}